<div class="container-fluid animated fadeIn fast" id="">
  <header>

    <div class="row" id="">
      <div class="col-12 hero" id="">
        <div class="container" id="">

          <!-- logo empresa -->
          <div class="row justify-content-center" id="">

            <div class="col-11 col-md-9 col-lg-7 col-xl-7 logo-empresa d-flex flex-column justify-content-center" id="">
              <!-- Inicio redes Sociales -->
              <div class="row redes-sociales" id="">
                <div class="col-12" id="">
                  <div class="row justify-content-center" id="">
                    <ul class="col-10 col-md-8 col-lg-8 navbar-nav flex-row justify-content-around">
                      <li class="nav-item"><a class="nav-link"><i class="fa fa-facebook"></i></a></li>
                      <li class="nav-item"><a class="nav-link"><i class="fa fa-twitter"></i></a></li>
                      <li class="nav-item"><a class="nav-link"><i class="fa fa-youtube"></i></a></li>
                      <li class="nav-item"><a class="nav-link"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--Fin Inicio redes Sociales -->
              <img class="img-fluid" src="../../../../assets/img/logo3.png" alt="">
              <p class="text-center">Venta de Casas y Departamentos Exclusivos de Lujo</p>
            </div>
          </div>
          <!-- FIN logo empresa -->

        </div>
      </div>
    </div>
  </header>
</div>
