<!-- Seccion Contactanos -->
<section class="container-fluid animated fadeIn fast" id="">
  <div class="row" id="">
    <div class="col-12 titulo-descripcion text-center p-0" id="">
      <div class="imagen-contacto">
        <div class="contenedor contenido-contacto text-left ml-3 ml-md-5 p-2">
          <h2>SOBRE NOSOTROS</h2>
          <p class="mt-5 mb-5">Somos una Empresa que ofrecemos el servicio de brindar la Casa de tus Sueños.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN Seccion Contactanos -->

<!-- Seccion Historia -->
<section class="container-fluid animated fadeIn fast mt-4" id="">
  <div class="row justify-content-center" id="">
    <div class="col-12 titulo-descripcion text-center p-0" id="">
      <h2>NUESTRA HISTORIA</h2>
      <div class="d-flex justify-content-center" id="">
        <img src="../../../assets/img/separador.png" alt="">
      </div>
    </div>
    <!-- Nuestra Historia -->
    <div class="col-12 col-md-8" id="">
      <div class="row" id="">
        <div class="col-12 col-md-7" id="">
          <img class="img-fluid img-thumbnail" src="../../../assets/img/anuncio6.jpg" alt="">
        </div>
        <div class="col-12 col-md-5" id="">
          <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nobis architecto,
            vel animi impedit
            eius cupiditate vitae. Maiores et quam ut fuga similique impedit tempora doloribus nobis dolor, nam
            quas!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Nuestra Historia -->
</section>

<!-- Seccion mision vision -->
<section class="container-fluid animated fadeIn fast mt-5" id="">
  <div class="container" id="">

    <div class="row" id="">
      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>MISIÓN Y VISIÓN</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>
        <h3 class="text-left pl-1 mb-1 titulo-venta mt-3 ">MISIÓN</h3>
        <P class="text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sunt distinctio laborum ad
          accusamus enim
          dolorem
          accusantium voluptate facere. Sapiente eaque dignissimos amet nam cum saepe asperiores veritatis minima ullam.
        </P>

        <h3 class="text-left pl-1 mb-1 titulo-venta mt-4">VISIÓN</h3>
        <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero in nesciunt sunt tenetur
          maiores saepe esse,
          perferendis dolore sed numquam dolorum explicabo earum id est commodi, similique repellendus enim molestias!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Seccion mision vision -->

<!-- Nuestra Ubicacion -->
<section class="container-fluid animated fadeIn fast mt-5" id="">
  <div class="container" id="">
    <div class="row" id="">
      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>NUESTRA UBICACIÓN</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>

      </div>
    </div>
  </div>
  <div class="row mt-4 border" id="">
    <div class="col-12 mapa" id="mapa">
    </div>
  </div>
</section>
<!-- Fin Nuestra Ubicacion -->

<!-- Seccion Agentes -->
<!-- Seccion Agentes -->
<section class="container-fluid animated fadeIn fast  mt-5" id="">
  <div class="row" id="">
    <div class="container" id="">

      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>NUESTROS AGENTES</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>
        <!-- Carrusel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <main class="mt-4">
                <div class="principal">

                  <div class="anuncio2 text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio2 text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio2 text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_3.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                </div>

              </main>
            </div>
            <div class="carousel-item">
              <main class="mt-4">
                <div class="principal">

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_3.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                </div>

              </main>
            </div>

            <div class="carousel-item">
              <main class="mt-4">
                <div class="principal">

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_3.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                </div>

              </main>
            </div>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- FIN Carrusel -->
      </div>
    </div>
  </div>
</section>
<!-- Fin Seccion Agentes -->

<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/jordy.soliz.9" target="_blank"><img class="img1 text-white"
      src="../../../assets/img/messenger2.svg" title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a href="https://api.whatsapp.com/send?phone=76931047&text=Deseo comunicarme con una Agente de Ventas."
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->
