/* Incono pentagono del evento */

.icono {
  width: 350px;
}

div.icono .casa-color {
  color: #fe4918;
  margin: 0 5px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100px;
}

div.icono i {
  color: #fe4918;
  margin: 0 5px;
  font-size: 5.75rem;
  font-weight: bold;
  width: 150px;
}

div.icono h3 {
  font-family: 'Oswald',
    sans-serif;
}

/* Main principal */
/*Esta en los estilos globales */
/* Main principal */

/** Contacto Home **/
.imagen-contacto {
  background-image: url('../../../assets/img/encuentra.jpg');
  background-position: center center;
  background-size: cover;
  height: 22rem;
  display: flex;
  align-items: center;
}

.contenido-contacto {
  /* flex: 0 0 95%; */
  color: #ffffff;
}

.contenido-contacto h2 {
  font-size: 2.3rem;
  font-family: 'PT Sans', sans-serif;
  color: aliceblue;
}

.contenido-contacto p {
  font-size: 1.2rem;
}

/** fin Contacto Home **/

/* Nuestros servicios */
.icono img {
  width: 100px;
}

.calefacion {
  margin-bottom: 23px;
}

/* FIN Nuestros servicios */

/* Agentes */
.nombre-agente {
  font-weight: lighter;
}

.principal .agente {
  border: none;
  background-color: transparent;
}

.contenido-anuncio div a i {
  font-size: 2.2rem;
}

.contenido-anuncio div a:hover {
  color: #fe4918;
  cursor: pointer;
}

/* Fin Agentes */

/* Seccion propaganda calefones */
div.container-calefones {
  position: fixed;
  z-index: 500;
  top: 120px;
  left: 20px;
  display: none;
}

.fuente-p-calefon p {
  font-size: 0.8rem;
}

@media (min-width: 1550px) {

  /* logica */
  div.container-calefones {
    display: initial;
  }
}

/* FIN Seccion propaganda calefones */

/* Seccion calefones movile desktop */
@media (min-width: 768px) {

  /* logica */
  .venta-calefones {
    display: none;
  }
}

/* FIN Seccion calefones movile desktop */
