<app-header></app-header>
<!-- Seccion mas sobre nosotros -->
<section class="container-fluid animated fadeIn fast  mt-5" id="">
  <div class="container" id="">
    <div class="row" id="">
      <div class="col-12 titulo-descripcion text-center" id="">
        <h2>MÁS SOBRE NOSOTROS</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>

        <div class="iconos-nosotros d-flex flex-wrap justify-content-around mt-4">
          <div class="icono">
            <svg class="bi bi-house-door casa-color" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z" />
              <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
            </svg>
            <h3 class="mt-3">Amplia gama de propiedades</h3>
            <p>Encontramos la Casa de tus Sueños en lugar que gustes con bueno precios.</p>
          </div>

          <div class="icono">
            <i class="fa fa-usd mb-2"></i>
            <h3 class="mt-3">Alquiler, venta y Anticreticos</h3>
            <p>Te Ofrecemos Casas, Departamentos etc. En el lugar que buscas.</p>
          </div>

          <div class="icono">
            <svg class="bi bi-geo-alt casa-color" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <h3 class="mt-3">Localización de propiedad</h3>
            <p>Hayamos buenas Propiedad en el Centro de la Ciudad o tambien fuera.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- FIN Seccion mas sobre nosotros -->


<!-- Seccion la mejor casa en exclusivos -->
<section class="container-fluid animated fadeIn fast  mt-5" id="">
  <div class="container" id="">

    <div class="row" id="">
      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>CASAS Y DEPARTAMENTOS EN VENTA</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>

        <main class="mt-1">
          <div class="principal">

            <div class=" anuncio text-left">
              <img class="img-fluid" src="../../../assets/img/propa1.jpg" alt="Anuncio casa en el lago">
              <div class="contenido-anuncio p-3">
                <h3>Casa de Lujo en el Lago</h3>
                <p>PROX. OQUENDO HEROINAS, AMPLIO GARZONIER + OFICINAS, superficie 66m2, cosnta de tres amplios
                  ambientes, 2 cocineta,en edificio de prestiguio, con dos ascensores, recepcion y seguridad las 24
                  horas. expensas bs.427. Vealo hoy mismo... FAROS 4232313 79969188</p>
                <p class="precio">$3,000,0000</p>

                <ul class="iconos-caracteristicas">
                  <li>
                    <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                    <p>3</p>
                  </li>
                  <li>
                    <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                    <p>3</p>
                  </li>
                  <li>
                    <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                    <p>4</p>
                  </li>
                </ul>

                <a class="boton boton-bienesraices d-block" [routerLink]="[ '/verpropiedad']">Ver Propiedad</a>
              </div>
            </div>

            <div class=" anuncio text-left">
              <img class="img-fluid" src="../../../assets/img/propa2.jpg" alt="Anuncio casa en el lago">
              <div class="contenido-anuncio p-3">
                <h3>Casa de Lujo en el Lago</h3>
                <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                <p class="precio">$3,000,0000</p>

                <ul class="iconos-caracteristicas">
                  <li>
                    <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                    <p>3</p>
                  </li>
                  <li>
                    <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                    <p>3</p>
                  </li>
                  <li>
                    <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                    <p>4</p>
                  </li>
                </ul>

                <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
              </div>
            </div>

            <div class=" anuncio text-left">
              <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
              <div class="contenido-anuncio p-3">
                <h3>Casa de Lujo en el Lago</h3>
                <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                <p class="precio">$3,000,0000</p>

                <ul class="iconos-caracteristicas">
                  <li>
                    <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                    <p>3</p>
                  </li>
                  <li>
                    <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                    <p>3</p>
                  </li>
                  <li>
                    <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                    <p>4</p>
                  </li>
                </ul>

                <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
              </div>
            </div>

          </div>
          <div class="ver-todas mt-4">
            <a class="btn btn-success btn-lg text-white" [routerLink]="[ '/vertodas']">Ver Todas</a>
          </div>
        </main>

      </div>
    </div>
  </div>
</section>
<!-- Seccion anuncios de casas -->


<!-- Seccion Contactanos -->
<section class="container-fluid animated fadeIn fast  mt-5" id="">
  <div class="row" id="">
    <div class="col-12 titulo-descripcion text-center p-0" id="">
      <h2>CONTACTO</h2>
      <div class="d-flex justify-content-center" id="">
        <img src="../../../assets/img/separador.png" alt="">
      </div>
      <div class="imagen-contacto mt-4">
        <div class="contenedor contenido-contacto text-left ml-5">
          <h2>Encuentra la casa de tus sueños</h2>
          <p class="mt-5 mb-5">Llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad
          </p>
          <button class="boton boton-bienesraices">Contactános</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN Seccion Contactanos -->

<!-- Seccion servicios  -->
<section class="container-fluid animated fadeIn fast  mt-5" id="">
  <div class="row" id="">
    <div class="container" id="">

      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>NUESTROS SERVICIOS</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>

        <div class="iconos-nosotros d-flex flex-wrap justify-content-around mt-4">
          <div class="icono">
            <img src="../../../assets/img/house.png" alt="Imagen casa">
            <p>Investigacion de zonas residenciales dentro y fuera de la Ciudad.</p>
          </div>

          <div class="icono">
            <img class="calefacion" src="../../../assets/img/calefac.png" alt="Imagen calefaccion">
            <p>Ventas de calefacción modernos.</p>
          </div>

          <div class="icono">
            <img src="../../../assets/img/seguridad.png" alt="Imagen seguridad">

            <p>Priorizamos la Seguridad.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- FIN Seccion servicios  -->

<!-- Seccion Agentes -->
<section class="container-fluid animated fadeIn fast  mt-5" id="">
  <div class="row" id="">
    <div class="container" id="">

      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>AGENTES DE BIENES RAICES</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>
        <!-- Carrusel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">

            <div class="carousel-item active">
              <main class="mt-4">
                <div class="principal">

                  <div class="anuncio2 text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio2 text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio2 text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_3.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                </div>

              </main>
            </div>
            <div class="carousel-item">
              <main class="mt-4">
                <div class="principal">

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_3.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                </div>

              </main>
            </div>

            <div class="carousel-item">
              <main class="mt-4">
                <div class="principal">

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_4.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="anuncio text-left agente">
                    <div class="d-flex mt-3" id="">
                      <img class="img-fluid rounded-circle w-50 mx-auto" src="../../../assets/img/person_3.jpg"
                        alt="Anuncio casa en el lago">
                    </div>
                    <div class="contenido-anuncio p-3 text-center">
                      <h3 class="nombre-agente">Laura Ramirez Romero</h3>
                      <p>Agente inmobiliario</p>
                      <p class="text-left">Casa en el lago con excelente vista, acabados de lujo a un excelente precio
                      </p>
                      <div class="d-flex">
                        <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        <a class="nav-link"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>

                </div>

              </main>
            </div>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- FIN Carrusel -->
      </div>
    </div>
  </div>
</section>
<!-- Fin Seccion Agentes -->

<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/jordy.soliz.9" target="_blank"><img class="img1 text-white"
      src="../../../assets/img/messenger2.svg" title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a href="https://api.whatsapp.com/send?phone=76931047&text=Deseo comunicarme con una Agente de Ventas."
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->

<!-- Seccion propaganda calefones a gas -->
<div *ngIf="this.calefon" id="carouselExampleIndicators2"
  class="carousel slide  container-calefones animated fadeIn fast" data-ride="carousel" style="width: 10rem;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 10rem;">
        <img src="../../../assets/img/calefon1.jpg" class="card-img-top" alt="Imagen de calefones">
        <div class="card-body fuente-p-calefon">
          <h6 class="card-title font-weight-light">DISPONIBLE</h6>
          <h6 class="card-title">ELECTROLUX TERMOTANQUE</h6>
          <p class="card-text ">Altura Total 1061mm.Diámetro 455mm.Consumo 6000 Kcal/Hrs.Recuparación 210
            Lit/Hrs.Peso del
            Producto Vacío 29 Kgrs.</p>
          <p class="text-primary">Precio: 2.300 Dolares</p>
          <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="width: 10rem;">
        <img src="../../../assets/img/calefon2.jpg" class="card-img-top" alt="Imagen de calefones">
        <div class="card-body fuente-p-calefon">
          <h6 class="card-title font-weight-light">DISPONIBLE</h6>
          <h6 class="card-title">ELECTROLUX TERMOTANQUE</h6>
          <p class="card-text ">Altura Total 1061mm.Diámetro 455mm.Consumo 6000 Kcal/Hrs.Recuparación 210
            Lit/Hrs.Peso del
            Producto Vacío 29 Kgrs.</p>
          <p class="text-primary">Precio: 2.300 Dolares</p>
          <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card" style="width: 10rem;">
        <img src="../../../assets/img/calefon3.jpg" class="card-img-top" alt="Imagen de calefones">
        <div class="card-body fuente-p-calefon">
          <h6 class="card-title font-weight-light">DISPONIBLE</h6>
          <h6 class="card-title">ELECTROLUX TERMOTANQUE</h6>
          <p class="card-text ">Altura Total 1061mm.Diámetro 455mm.Consumo 6000 Kcal/Hrs.Recuparación 210
            Lit/Hrs.Peso del
            Producto Vacío 29 Kgrs.</p>
          <p class="text-primary">Precio: 2.300 Dolares</p>
          <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-dark" href="#carouselExampleIndicators2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- FIN Seccion propaganda calefones a gas -->

<!-- Seccion calefon FIRSTmovile -->
<section class="container-fluid animated fadeIn fast mt-5 venta-calefones" id="">
  <div class="row" id="">
    <div class="container" id="">

      <div class="col-12 titulo-descripcion p-0" id="">
        <h2 class="text-center">VENTA DE CALEFONES</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>


        <div id="carouselExampleIndicators3" class="carousel slide  animated fadeIn fast" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card border-0" style="width: 100%">
                <img src="../../../assets/img/calefon1.jpg" class="card-img-top" alt="Imagen de calefones">
                <div class="card-body border-0">
                  <h4 class="card-title ">DISPONIBLE</h4>
                  <h4 class="card-title">ELECTROLUX TERMOTANQUE</h4>
                  <p class="card-text ">Altura Total 1061mm.Diámetro 455mm.Consumo 6000 Kcal/Hrs.Recuparación 210
                    Lit/Hrs.Peso del
                    Producto Vacío 29 Kgrs.</p>
                  <p class="text-primary">Precio: 2.300 Dolares</p>
                  <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card border-0" style="width: 100%">
                <img src="../../../assets/img/calefon2.jpg" class="card-img-top" alt="Imagen de calefones">
                <div class="card-body border-0">
                  <h4 class="card-title ">DISPONIBLE</h4>
                  <h4 class="card-title">ELECTROLUX TERMOTANQUE</h4>
                  <p class="card-text ">Altura Total 1061mm.Diámetro 455mm.Consumo 6000 Kcal/Hrs.Recuparación 210
                    Lit/Hrs.Peso del
                    Producto Vacío 29 Kgrs.</p>
                  <p class="text-primary">Precio: 2.300 Dolares</p>
                  <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card border-0" style="width: 100%">
                <img src="../../../assets/img/calefon3.jpg" class="card-img-top" alt="Imagen de calefones">
                <div class="card-body border-0">
                  <h4 class="card-title ">DISPONIBLE</h4>
                  <h4 class="card-title">ELECTROLUX TERMOTANQUE</h4>
                  <p class="card-text ">Altura Total 1061mm.Diámetro 455mm.Consumo 6000 Kcal/Hrs.Recuparación 210
                    Lit/Hrs.Peso del
                    Producto Vacío 29 Kgrs.</p>
                  <p class="text-primary">Precio: 2.300 Dolares</p>
                  <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev text-dark" href="#carouselExampleIndicators3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Fin Seccion FIRS calefon movile -->
