<div class="container-fluid" id="">
  <div class="row bg-footer" id="">


    <div class="col-12 footer" id="">
      <div class="contactos sobre-nosotros" id="">
        <h4>SOBRE<span> ZONNEBLOEM</span></h4>
        <p class="mt-3">Somos una Empresa que ofrecemos el servicio de brindar la Casa de tus Sueños.</p>
      </div>
      <div class="contactos contato" id="">
        <h4>OFICINA<span> PRINCIPAL</span></h4>
        <p class="mt-3"><i class="fa fa-map-marker"></i> Calle Mexico N 0169 entre Baptista y Ayacucho.</p>
        <p><i class="fa fa-phone-square"></i> Cel.: 69415090 - 69418801 - 63963419. Telf: 4556267 - 797699996.</p>
        <p><i class="fa fa-envelope"></i> zonnebloempaulusbakker@gmail.com</p>
      </div>
      <div class="contactos redes-sociales" id="">
        <h4>REDES<span> SOCIALES</span></h4>
        <div class="d-flex mt-3" id="">
          <div class="col-8" id="">
            <div class="row justify-content-between" id="">
              <a class="redes"><i class="fa fa-facebook"></i></a>
              <a class="redes"><i class="fa fa-twitter"></i></a>
              <a class="redes"><i class="fa fa-youtube"></i></a>
              <a class="redes"><i class="fa fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 fondo-copyright" id="">
      <div class="row" id="">
        <div class="col-12" id="">
          <p class="mb-0 text-center pt-3 pb-3 copyright">Todos los derechos Reservados ZONNEBLOEM 2018 © desarrollador
            Web DSP.</p>
        </div>
      </div>
    </div>

  </div>

</div>
