<!-- Seccion la mejor casa en exclusivos -->
<section class="container-fluid animated fadeIn fast  mt-2" id="">
  <div class="container" id="">

    <div class="row" id="">
      <div class="col-12 titulo-descripcion text-center p-0" id="">
        <h2>CASAS Y DEPARTAMENTOS EN VENTA</h2>
        <div class="d-flex justify-content-center" id="">
          <img src="../../../assets/img/separador.png" alt="">
        </div>
        <!-- galeia de ventas -->
        <div class="row mt-2" id="">
          <div class="col-12 galeria-fotos" id="">
            <h3 class="text-left pl-1 mb-1 titulo-venta">Ventas</h3>

            <main class="mt-3">
              <div class="principal">

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa1.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa2.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

              </div>

              <nav aria-label="Page navigation example mt-3">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>

                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>

              <div class="ver-todas mt-4">
                <a class="btn btn-success btn-lg text-white" [routerLink]="[ '/vercategorias']">Ver Todas las ventas</a>
              </div>
            </main>

          </div>
        </div>
        <!-- fIN galeria ventas -->

        <!-- galeia de anticreticos -->
        <div class="row mt-2" id="">
          <div class="col-12 galeria-fotos" id="">
            <h3 class="text-left pl-1 mb-1 titulo-venta">Anticreticos</h3>

            <main class="mt-3">
              <div class="principal">

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa1.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa2.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

              </div>

              <nav aria-label="Page navigation example mt-3">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>

                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="ver-todas mt-4">
                <a class="btn btn-success btn-lg text-white" [routerLink]="[ '/vercategorias']">Ver Todos los
                  anticreticos</a>
              </div>
            </main>

          </div>
        </div>
        <!-- fIN galeria anticreticos -->

        <!-- galeia de Alquileres -->
        <div class="row mt-2" id="">
          <div class="col-12 galeria-fotos" id="">
            <h3 class="text-left pl-1 mb-1 titulo-venta">Alquileres</h3>

            <main class="mt-3">
              <div class="principal">

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa1.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa2.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

                <div class=" anuncio text-left">
                  <img class="img-fluid" src="../../../assets/img/propa3.jpg" alt="Anuncio casa en el lago">
                  <div class="contenido-anuncio p-3">
                    <h3>Casa de Lujo en el Lago</h3>
                    <p>Casa en el lago con excelente vista, acabados de lujo a un excelente precio</p>
                    <p class="precio">$3,000,0000</p>

                    <ul class="iconos-caracteristicas">
                      <li>
                        <img src="../../../assets/img/icono_wc.svg" alt="icono wc">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_estacionamiento.svg" alt="icono autos">
                        <p>3</p>
                      </li>
                      <li>
                        <img src="../../../assets/img/icono_dormitorio.svg" alt="icono habitaciones">
                        <p>4</p>
                      </li>
                    </ul>

                    <a class="boton boton-bienesraices d-block">Ver Propiedad</a>
                  </div>
                </div>

              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>

                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>

                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="ver-todas mt-4">
                <a class="btn btn-success btn-lg text-white" [routerLink]="[ '/vercategorias']">Ver Todos los
                  alquileres</a>
              </div>
            </main>

          </div>
        </div>
        <!-- fIN galeria alquileres -->

      </div>
    </div>
  </div>
</section>

<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/jordy.soliz.9" target="_blank"><img class="img1 text-white"
      src="../../../assets/img/messenger2.svg" title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a href="https://api.whatsapp.com/send?phone=76931047&text=Deseo comunicarme con una Agente de Ventas."
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->

<!-- Para hacer la paginación -->
<!-- Aticulos o cajas que se van a mostrar por pagina -->
<!-- total de los aticulos de la base de datos -->

<!--
     cajas=3
     totalArticulosDB=13
     
     paginas= totalArticulosDB/cajas
     paginas=4.3 redondear hacia haciba seria 5 paginas
    -->

<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>

    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
